<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<% if (!currentUser) { %>
			<a href="/signup">Sign Up</a>
			<a href="/login">Log In</a>
			<% } %> <% if (currentUser) { %>
			<form method="POST" action="/logout">
				<button>Log Out</button>
			</form>
			<%}%>
		</nav>

		<h1>Welcome to the Home Page!</h1>
		<h3>Check the latest posts below!</h3>

		<% if (currentUser) { %>
		<h2>You are logged in as: <%= currentUser.email %></h2>
		<form method="POST" action="/posts">
			<input
				type="text"
				name="description"
				placeholder="What's going on today?"
			/>
			<button>Submit</button>
		</form>

		<% } %> <% for (let post of allPosts) { %>
		<article>
			<p><strong><%= post.email %></strong> - <%= post.description %></p>
			<% if (currentUser && currentUser.user_id === post.user_id) { %>
			<div>
				<a href="/posts/<%= post.post_id %>">Edit</a>
				<form method="POST" action="/posts/<%= post.post_id %>?_method=DELETE">
					<button>Delete</button>
				</form>
			</div>
			<% } %>
		</article>
		<% } %>
	</body>
</html>
